@charset "utf-8";

@font-face {
  font-family: "Acid";
  src: url("../acid.otf");
}
@font-face {
  font-family: "Letter Gothic Std";
  src: url("../LetterGothicStd.otf");
}

.header-index, footer, .name {
  font-family: 'Acid' !important;
  z-index: 99999999;
}

* {
  font-family: 'Letter Gothic Std';
}

#loading {
  width:0%;
  height:4px;
  position: absolute;
  background-color: white;
  top:0;
  z-index: 9999;
}

body {
  background: black;
  text-align: center;
  font-family: sans-serif;
  height:100vh;
  z-index: -1;
}

.is-ready{
    opacity: 1 !important;
    transform: translateX(0) !important;
    transition-duration: 0.7s;
}
.remove {
  opacity: 0 !important;
  transform: translateX(1500px)!important;
  transition-duration: 1.5s;
}

a,p {
  color:white;
  padding:2px 2px;
  cursor: pointer;
  text-decoration: none;
}

.bouton {
  border-bottom:2px solid transparent;
  transition: 0.2s ease-in;

}
.bouton:hover{
  border-bottom:2px solid #30DEB7;
}

.header-index {
  display: flex;
  justify-content: flex-end;
  padding: 7vh 5em 2em;
  font-size: 1.7vh;
  z-index: 99999999;


  .hello {
    display: flex;
    align-items: center;
    width:35vh;
    // margin-left:120px;
  }

  .items {
    width: 35vh;
    display: flex;
    justify-content: space-around;

  }
}
//
// .footer-index {
//   margin-bottom: 8vh;
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: space-between;
//   // z-index: 999;
// }
// .footer-projects {
//   margin-top: -2.65em;
//   // display: flex;
//   // flex-direction: row;
//   // justify-content: space-between;
//   // z-index: 999;
// }

footer {
  // width:100vw;
  // margin-top:8em;
  margin-bottom: 3vh;
  position: fixed;
  width: 100%;
  bottom: 0;
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
  z-index: 99999;

  a {
    font-size: 1.7vh;
  }

  .links, .copy {
    padding:2em 3em;
    display:flex;
    justify-content: space-around;
    z-index: 2;
  }
  .links {
    width:30%;
    float:right;
  }
  .copy {
    width:150px;
    float: left;

  }
}

.logo {
  width: 38vh;
  position: absolute;
  left:15vw;
  top: 1vh;
  border:0 !important;
  margin:0;
  cursor: pointer;
  opacity: 0;
  transform: translateX(-200px);
}

.logo-index {
  width:30vw;
  transform: rotate(-90deg);
  position: absolute;
  top:20vh;
  left:6vw;
  z-index: 9999;
}

.name {
  transform: rotate(-90deg);
  position: absolute;
  top:25vh;
  color:white;
  margin-left:0.2em;
  z-index: 9999;
  a {
    font-size: 1.6vh;
  }
}

.barre-header {
  width:70px;
  height:2px;
  background: grey;
  border: 0;
}

.barre-footer {
  width:50px;
  height:2px;
  background: grey;
  border: 0;
}

@media screen and (max-width:1000px){
  .hello {
    display: none !important;
  }
}

@media screen and (max-width:600px){

  .right-rox {
    display: none !important;
  }

  .name {
    display: none !important;
  }

  footer {
    margin-top: 3em !important;
    margin-left: 6.5vh;
  }




  .left-rox {
    // display: none !important;
    margin: 60% 15% 15% 15%;
  }

  .logo {
    top:5.5vh;
    left:12vw;
    width:120px !important;
  }
  .items {
    width:170px !important;
  }

  .main-rox {
    margin-top: 16%;
  }


  .logo-index {
    width: 38vh;
    left: -8vh;
  }

  .header-index {
    padding:4em 2em 2em;
  }
  .links {
    width:100% !important;
  }
  .copy {
    display: none !important;
  }
}
