---
title: Roxane Dulhoste - Web Design
---

<div class="index main">
  <%= image_tag "rox2.jpg", class: "left-rox" %>
  <div class="center">
    <%= image_tag 'LOGO.png', class: "logo-index", alt: "rxnnn-logo" %>
    <%= image_tag "rox2.jpg", class: "main-rox" %>
    <h1>web design</h1>
  </div>
  <%= image_tag "rox2.jpg", class: "right-rox" %>
</div>
