---
title: Roxane Dulhoste - Profile
---

<div class="grid"></div>
<div class="profile main">
  <div class="about">
    <h1> roxane dulhoste </h1>
    <%= image_tag "rox1.jpg", class: "profile_rox"%>
  </div>
  <div class="about-text">
    <div class="top">
      <p>I'm a french digital student currently based in Bordeaux. My main passion is to create and express new things with design tools and skills. I dream about my future as a perfect example of what it truly means to be an inspiration and an hard worker.   </p>
    </div>
    <div class="bottom">
      <p>At the moment, I'm finishing the first big step of my studies : an University Technology Degree in Digital Media and Internet in Bordeaux. My one and only goal is to become an Art Director by continuing my studies in Paris, or in another European capital city. </br>So, so, so, I'd be grateful to work for you and to offer you my ideas !</p>
    </div>
  </div>
</div>
