---
title: Roxane Dulhoste - Projects
---

<div class="grid2"></div>
<div class="projects main">
  <div class="projet-container2">
    <div class="proj-list">
      <ul>
        <!-- when adding projects, just change id + innerHTML -->
        <li class="proj-name" id="fimmi">fimmi</li>
        <li class="proj-name" id="pasvupasnous">pasvupasnous</li>
        <li class="proj-name" id="mihivai">mihivai</li>
        <li class="proj-name" id="yodanja">yodanja</li>
        <li class="proj-name" id="texposou">texposou</li>
        <br>
        <li id="back">back</li>
      </ul>
    </div>

    <div class="photos display">
      <div class="proj-img second"></div>
      <div class="proj-img"></div>
      <div class="notice">
        <p class="proj-content"></p>
        <p id="btn">click to see more</p>
      </div>
    </div>

    <div class="carousel">
      <div class="carousel-list">
      </div>
      <div class="proj-img third"></div>
    </div>
  </div>
</div>
